deep-translator==1.11.4
docling==2.27.0
environs==14.1.1
fastapi==0.115.11
future==1.0.0
geopy==2.4.1
graspologic==3.4.1
grpcio-status==1.67.1
gunicorn==23.0.0
h2==4.2.0
httptools==0.6.4
ipykernel==6.29.5
langdetect==1.0.9
llama-index-core==0.12.23
llama-index-storage-chat-store-redis==0.4.0
loguru==0.7.2
milvus-model==0.2.12
minio==7.2.15
openai==1.65.5
pandas==2.2.3
pip-tools==7.4.1
pyarrow-hotfix==0.6
pydantic==2.10.6
pymilvus==2.5.6
pymilvus.model==0.3.2
pymongo==4.11.2
python-dotenv==1.0.1
python-multipart==0.0.20
redisvl==0.4.1
semchunk==2.2.2
termcolor==2.5.0
timezonefinder==6.5.8
tqdm==4.67.1
uvloop==0.21.0
watchfiles==1.0.4
websocket-client==1.8.0
websockets==15.0.1